{% extends 'base.html' %}

{% block title %} {{user.username}} details {% endblock %}

{% block content %}

<h1>User Details</h1>
<form action="/users/{{user.username}}/delete" method="post">
  {{ form.hidden_tag() }}
  <button class="btn btn-sm btn-danger">Delete User</button>
  </form>
<div>Username: {{ user.username }}</div>

<div>Email: {{ user.email }}</div>

<div>First: {{ user.first_name }}</div>

<div>Last: {{ user.last_name }}</div>

<div>
  <ul class="list-group">
    {% for note in notes %}
      <li class="list-group-item">
        <a href="/notes/{{ note.id }}/update">
          {{ note.title }} :
        </a>
          <p>{{ note.content }}</p>
          <form action="/notes/{{note.id}}/delete" method="post">
            {{ form.hidden_tag() }}
            <button class="btn btn-outline-danger">Delete</button>

          </form>
      </li>
    {% endfor %}
  </ul>
</div>

<form class="my-3">
  {{ form.hidden_tag() }}
  <!--add type=hidden form fields -->
  <button formaction="/users/{{ user.username }}/notes/add" formmethod="GET" class="btn btn-primary">
    Add Note
  </button>
  <button formaction="/logout" formmethod="POST" class="btn btn-warning">
    Log Out
  </button>
</form>
{% endblock %}